body {
    background-image: linear-gradient(135deg, var(--blue), var(--green));
    min-height: 100vh;
}


#fondo {
    padding: 2rem 0;
    width: 95%;
    margin: 5rem auto;
    background-color: var(--lgray);
    border-radius: 1rem;
}

h1 {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*estilos para la tabla*/
table th {
    background-color: #077168 !important;
    color: white;
}

table>tbody>tr>td {
    vertical-align: middle !important;
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group,
.btn-group-vertical {
    position: absolute !important;
}